<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Poultry Equipment Manufacturer &nbsp &nbsp&nbsp&nbsp India- Krishna Polyplast</title>
    <link rel="icon" href="{{ url_for('static', filename='images/main icon.png') }}">
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>

<body id="top">
    <header>
        <nav class="navbar">
            <div class="logo">
                <img id="logimg" src="{{ url_for('static', filename='images/kp icon.png') }}" alt="KP icon"
                    title="Krishna Polymers logo">
                <div class="logotext">
                    <h2 class="lo">KRISHNA </h2>
                    <p class="lop" style="font-style:oblique;">POLYPLAST</p>
                </div>
                <div class="linenv" style="width:25px; cursor:pointer;margin:0 110px; display:none;" >
                    <span style="display:block; height:3px; background-color:rgb(85, 75, 75);width:100%; margin: 3px 0; border-radius:100px"></span>
                    <span style="display:block; height:3px; background-color:rgb(85, 77, 77);width:100%; margin: 3px 0; border-radius:100px"></span>
                    <span style="display:block; height:3px; background-color:rgb(78, 69, 69);width:100%; margin: 3px 0; border-radius:100px"></span>
                </div>
            </div>
            <ul class=nav-links>
                <li><a href="#">HOME</a></li>
                <li><a href="#about">ABOUT US</a></li>
                <li><a href="#product">PRODUCTS</a></li>
                <li><a href="#gallery">GALLERY</a></li>
                <li><a href="javascript:void(0)" id="uppop">CONTACTS</a></li>
            </ul>
        </nav>
        <ul class=nav1 style="display: none;">
                <li><a href="#">HOME</a></li>
                <li><a href="#about">ABOUT US</a></li>
                <li><a href="#product">PRODUCTS</a></li>
                <li><a href="#gallery">GALLERY</a></li>
                <li><a href="javascript:void(0)" id="upop">CONTACTS</a></li>
            </ul>
    </header>

    <div class="slider">

        <div class="slide active">
            <img src="{{ url_for('static', filename='images/main_image/m12.png') }}">
        </div>
    
        <div class="slide">
            <img src="{{ url_for('static', filename='images/main_image/m11.png') }}">
        </div>
    
        <div class="slide">
            <img src="{{ url_for('static', filename='images/main_image/m13.png') }}">
        </div>
    
        <button class="btn" id="prev">❮</button>
        <button class="btn" id="next">❯</button>
    
    </div>
              <main>
        <div class="info" style="color: black; height:280px; padding: 60px 102px;">
            <h2>POULTRY EQUIPMENT MANUFACTURER SINCE 2003</h2><br>
            <p style="font-size: 14px; font-weight:150;">Krishna Polyplast is recognized market leader in manufacturing
                of poultry equipment. We have network coverage across Pan India and our brand is known for its quality
                and standards. Our brand ‘Krishna’ stands for long lasting quality, rapid service and business values we
                have maintained since incorporation of the company.</p><br>
            <p style="font-size: 14px;font-weight:150;">Our poultry equipments are a class apart with their attractive
                and distinctive features and are synonymous in the market for their excellent quality and ease of
                operation.</p>
        </div>

        <section id="pd-image" style="background-color:rgb(245, 237, 226); ">
            <h1 style="text-align: center; padding:15px; background-color:rgba(63, 58, 58, 0.267);text-shadow:0 3px rgb(236, 230, 230); font-size:28px">
                Products</h1>
            <hr style="width:100% ;border: 6px solid white;">
            <div style="display:flex;flex-wrap:wrap; width:100%; ">
                <div id="PVC Layer Feeder"
                    style="display: flex; border: solid rgb(236, 219, 210); border-width:2.5px 0px ; padding:30px 0px">
                    <div class="pr-img"
                        style="display:flex; flex-wrap:wrap;  justify-content:flex-start; width:70%;height:600px;gap:20px; padding:50px">
                        <img class="pr" src="{{ url_for('static', filename='images/products/layer feeder/ly2.png') }}">
                        <img class="pr" src="{{ url_for('static', filename='images/products/layer feeder/ly5.png') }}">
                        <img class="pr" src="{{ url_for('static', filename='images/products/layer feeder/ly4.png') }}">
                        <img class="pr" src="{{ url_for('static', filename='images/products/layer feeder/ly1.png') }}">
                        <img class="pr" src="{{ url_for('static', filename='images/products/layer feeder/ly3.png') }}">
                    </div>
                    <div style="width: 26%; padding:45px 5px">
                        <h2
                            style="border-bottom:3px solid; padding-bottom:8px; border-image:linear-gradient(to right,rgb(131, 93, 93) 58%, rgb(177, 161, 161) 42%) 1;color:rgb(88, 78, 78); width:fit-content; text-shadow:0 3px rgb(202, 180, 180)">
                            PVC LAYER FEEDER</h2><br>
                        <p>Krishna Polyplast is one of the leading manufacturers of PVC Layer Feeders. Our brand is
                            known for quality of PVC Layer Feeders and strength. We are consistently producing high
                            quality PVC Layer Feeders for Poultry Farms using best quality raw materials. Krishna
                            Polyplast offers a variety of unique feeder options for layer facilities with proven
                            performance preferred by a majority of egg producers in India.</p> <br>

                        <p>Poultry Layer Feeders are useful for poultry farms as they are used to feed hens & chicks.
                            These plastic constructions are appreciable for their hygienic state stability in shape &
                            dimensions and capacity to bear the traffic. In addition, these ensure that the food grains.
                            Also, the laying of eggs on these feeders is safely possible. Poultry Layer Feeders offered
                            by Krishna Polyplast can hold their shapes for longer period. </p>
                    </div>
                </div>
                <hr style="width:100% ;border: 6px solid white;">
                <div id="chick feeder"
                    style="display: flex; border: solid rgb(236, 219, 210); border-width:2.5px 0px; padding:30px 0px">
                    <div class="pr-img"
                        style="display:flex; flex-wrap:wrap;  justify-content:flex-start; width:70%;height:600px;gap:20px; padding:50px">
                        <img class="pr" src="{{ url_for('static', filename='images/products/mixed/m1.png') }}">
                        <img class="pr" src="{{ url_for('static', filename='images/products/mixed/m2.png') }}">
                        <img class="pr" src="{{ url_for('static', filename='images/products/mixed/m3.png') }}">
                        <img class="pr" src="{{ url_for('static', filename='images/products/mixed/m4.png') }}">
                        <img class="pr" src="{{ url_for('static', filename='images/products/mixed/m5.png') }}">
                        <div class="cf" style="width: 500px;width:260px; height:auto; padding:10px; border:2px solid white;">
                            <h2
                                style="padding-bottom: 6px; border-image:linear-gradient(to right,rgb(131, 93, 93) 58%, rgb(177, 161, 161) 42%) 1;color:rgb(88, 78, 78);text-shadow:0 3px rgb(202, 180, 180)">
                                Egg Tray PVC</h2>
                            <p> We manufacture egg trays which have capacities to keep large number of eggs safe and to
                                transfer. As they are industrial PVC egg trays, they are strong and available in various
                                colours. </p>
                        </div>
                    </div>
                    <div style="width: 26%; padding:45px 5px">
                        <ul>
                            <li style="color:black">
                                <h2
                                    style="border-bottom:3px solid; padding-bottom:4px; border-image:linear-gradient(to right,rgb(131, 93, 93) 58%, rgb(177, 161, 161) 42%) 1;color:rgb(88, 78, 78); width:fit-content;text-shadow:0 3px rgb(202, 180, 180)">
                                    PVC Door Panels</h2>
                                <p style="padding-top:7px">We have clients pan India and they are end users, poultry
                                    turnkey projects
                                    installers, traders and suppliers. Our expert team has developed and maintained
                                    quality of PVC Door Panels for its strength and finishing. </p>
                            </li><br>
                            <li style="color:black">
                                <h2
                                    style="border-bottom:3px solid; padding-bottom:4px; border-image:linear-gradient(to right,rgb(131, 93, 93) 58%, rgb(177, 161, 161) 42%) 1;color:rgb(88, 78, 78); width:fit-content;text-shadow:0 3px rgb(202, 180, 180)">
                                    PVC Poultry Foot Rests</h2>
                                <p style="padding-top:7px">Krishna Polyplast is one of the leading manufacturers of PVC
                                    Poultry Foot Rests in
                                    India. We manufacture and supply PVC Foot Rests to the poultry industries throughout
                                    India.</p>
                            </li><br>
                            <li style="color:black">
                                <h2
                                    style="border-bottom:3px solid; padding-bottom:4px; border-image:linear-gradient(to right,rgb(131, 93, 93) 58%, rgb(177, 161, 161) 42%) 1;color:rgb(88, 78, 78); width:fit-content;text-shadow:0 3px rgb(202, 180, 180)">
                                    PVC Chick Feeders</h2>
                                <p style="padding-top:7px">All the PVC Chicks Feeders are made with high-quality plastic
                                    thus ensuring long
                                    life, resistance to weather conditions and to strong disinfectants.</p>
                            </li><br>
                            <li style="color:black">
                            <div class="cf1" style="display:none"> 
                            <h2
                                style="padding-bottom: 6px; border-image:linear-gradient(to right,rgb(131, 93, 93) 58%, rgb(177, 161, 161) 42%) 1;color:rgb(88, 78, 78);text-shadow:0 3px rgb(202, 180, 180)">
                                Egg Tray PVC</h2>
                            <p> We manufacture egg trays which have capacities to keep large number of eggs safe and to
                                transfer. As they are industrial PVC egg trays, they are strong and available in various
                                colours. </p>
                            </div>
                            </li>
                        </ul>

                    </div>
                </div>
                <hr style="width:100% ;border: 6px solid white;">
                <div id="PVC Grower Feeder"
                    style="display: flex; border: solid rgb(236, 219, 210); border-width:2.5px 0px;padding:30px 0px">
                    <div class="pr-img"
                        style="display:flex; flex-wrap:wrap;  justify-content:flex-start; width:70%;gap:20px; padding:50px">
                        <img class="pr" src="{{ url_for('static', filename='images/products/grower/g1.png') }}">
                        <img class="pr" src="{{ url_for('static', filename='images/products/grower/g2.png') }}">
                        <img class="pr" src="{{ url_for('static', filename='images/products/grower/g3.png') }}">
                    </div>
                    <div style="width: 26%; padding:45px 5px">
                        <h2
                            style="border-bottom:3px solid; padding-bottom:8px; border-image:linear-gradient(to right,rgb(131, 93, 93) 58%, rgb(177, 161, 161) 42%) 1;color:rgb(88, 78, 78); width:fit-content;text-shadow:0 3px rgb(202, 180, 180)">
                            PVC GROWER FEEDER</h2><br>
                        <p>The term Grower used to describe all stock between the end of brooding and till they reach
                            sexual maturity. In grower poultry farms, birds are kept from 9 weeks to 16-18 weeks. They
                            are also called replacement pullets. Feeding space per bird is to be kept 10cm. Watering
                            space per bird is to be kept 2-2.5cm.</p> <br>

                    </div>
                </div>

                <hr style="width:100% ;border: 6px solid white;">
                <div id="Poultry Water Drinking System"
                    style="display: flex; border: solid rgb(236, 219, 210); border-width:2.5px 0px; padding:30px 0px">
                    <div class="pr-img"
                        style="display:flex; flex-wrap:wrap;  justify-content:flex-start; width:70%;height:600px;gap:20px; padding:50px ;">
                        <img class="pr" src="{{ url_for('static', filename='images/products/water product/wp2.png') }}">
                        <img class="pr" src="{{ url_for('static', filename='images/products/water product/wp1.png') }}">
                        <img class="pr" src="{{ url_for('static', filename='images/products/water product/wp6.png') }}">
                        <img class="pr" src="{{ url_for('static', filename='images/products/water product/wp3.png') }}">
                        <img class="pr" src="{{ url_for('static', filename='images/products/water product/wp4.png') }}">
                        <img class="pr" src="{{ url_for('static', filename='images/products/water product/wp5.png') }}">
                    </div>
                    <div style="width: 25%; padding:45px 5px">
                        <h2
                            style="border-bottom:3px solid; padding-bottom:8px; border-image:linear-gradient(to right,rgb(131, 93, 93) 58%, rgb(177, 161, 161) 42%) 1;color:rgb(88, 78, 78); width:310px;text-shadow:0 3px rgb(202, 180, 180)">
                            POULTRY WATER DRINKING SYSTEM</h2><br>
                        <p>Krishna Polyplast is one of the reputed and renowned manufacturers of Poultry Water Drinking
                            Systems especially manufactured from PVC materials. From Square PVC Pipes & Round PVC
                            Poultry Pipes to poultry nipples, saddle, fogger, water level tank, water channel, drip cup
                            we manufacture wider range of products. Our products for Poultry Water. </p> <br>

                        <p>Owing to the competency and knowledge of our experienced professionals, Krishna Polymers is
                            offering a comprehensive array of products in Poultry Drinking Systems to its clients. Our
                            experts make use of the finest quality PVC material and latest techniques in line with set
                            industry norms to manufacture these products. Offered products are mainly used for Poultry
                            Farms for watering and drinking systems. In addition, most of the products can be availed in
                            different dimensions at affordable prices.</p>
                    </div>
                </div>
                <hr style="width:100% ;border: 6px solid white;">
                <div id="Poultry Accessories"
                    style="display: flex; border: solid rgb(236, 219, 210); border-width:2.5px 0px;padding:30px 0px">
                    <div class="pr-img"
                        style="display:flex; flex-wrap:wrap;  justify-content:flex-start; width:70%;height:600px;gap:20px; padding:50px">
                        <img class="pr" src="{{ url_for('static', filename='images/products/accessories/a1.png') }}">
                        <img class="pr" src="{{ url_for('static', filename='images/products/accessories/a2.png') }}">
                        <img class="pr" src="{{ url_for('static', filename='images/products/accessories/a3.png') }}">
                        <img class="pr" src="{{ url_for('static', filename='images/products/accessories/a4.png') }}">
                        <img class="pr" src="{{ url_for('static', filename='images/products/accessories/a5.png') }}">
                        <img class="pr" src="{{ url_for('static', filename='images/products/accessories/a6.png') }}">
                    </div>
                    <div style="width: 26%; padding:45px 5px">
                        <h2
                            style="border-bottom:3px solid; padding-bottom:8px; border-image:linear-gradient(to right,rgb(131, 93, 93) 58%, rgb(177, 161, 161) 42%) 1;color:rgb(88, 78, 78); width:320px;text-shadow:0 3px rgb(202, 180, 180)">
                            PVC POULTRY ACCESSORIES</h2><br>
                        <p>Krishna Polyplast is one of the renowned manufacturers and suppliers of Poultry Accessories.
                            We have layer feeder accessories, grower feeder accessories, watering channel & drinking
                            system accessories, poultry cage accessories and other poultry infrastructure accessories
                            like saddles, nipples, joints, brackets, end caps, egg trays and many more.</p> <br>

                        <p>All our Poultry Accessories are manufactured with many years’ experience by using superior
                            grade raw materials, which is strictly in accordance with the international quality
                            standards. Our poultry automation equipment in India is fully automated and computerized
                            systems for drinking water, feed, egg collection, air conditioning and cleaning. Krishna
                            Polyplast creates a technically innovative product, which guarantees the quality, revenue,
                            growth and safety for our customers.</p>
                    </div>
                </div>
            </div>
        </section>

        <div id="product" class="products" style="padding-top:70px;">
            <div style=" background-color:rgb(245, 245, 245)">
                <div class="features"
                    style="display:flex;justify-content:space-around; padding:80px 100px;">
                    <div class="left" style="font-weight: bold;">
                        <ul>
                            <a href="#PVC Layer Feeder">
                                <li>PVC Layer Feeder</li>
                            </a>
                            <a href="#PVC Grower Feeder">
                                <li>PVC Grower Feeder</li>
                            </a>
                            <a href="#chick feeder">
                                <li>PVC Chicks Feeder</li>
                            </a>
                            <a href="#Poultry Water Drinking System">
                                <li>Poultry Water Drinking System</li>
                            </a>
                            <a href="#chick feeder">
                                <li>Egg Trays PVC</li>
                            </a>
                            <a href="#chick feeder">
                                <li>PVC Door Panels</li>
                            </a>
                            <a href="#PVC Poultry Foot Rests">
                                <li>PVC Poultry Foot Rests</li>
                            </a>
                            <a href="#Poultry Accessories">
                                <li>Poultry Accessories</li>
                            </a>
                        </ul>
                    </div>

                    <div class="right">
                        <h2 style="font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif">
                            <strong>FEATURES OF OUR POULTRY <br>EQUIPMENTS</h2><br></strong>
                        <div class="feature-list"
                            style="display:flex;width:450px; justify-content:space-between ;font-weight:bold">
                            <ul>
                                <li>Scientifically Designed</li>
                                <li>Strong, Tough & Elegant</li>
                                <li>Leakage Free</li>
                                <li>Rust, Corrosion Free</li>
                            </ul>

                            <ul>
                                <li>Optimal Feeding</li>
                                <li>Long Life Span</li>
                                <li>Dimensional Accuracy</li>
                                <li>Cost Effectiveness</li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>

            <div id="about"
                style="background-color: rgb(104, 91, 91); color:white;padding:90px 120px; line-height:35px">
                <p>Quality of</p>
                <h3>OUR POULTRY EQUIPMENTS</h3>
                <div style="line-height:25px">
                    <p>We are known as a Manufacturer, Supplier, Exporter and Trader of Poultry Equipments, Plastic
                        Feeder, Layer Feeder, Jumbo Feeder, Grower Feeder, Chicks Feeder and Water Drinking System. We
                        also offer Corrugated Boxes, Egg Tray, Hatching Tray, PVC Poultry Foot Rests, Poultry
                        Accessories and much more. Each of these product is admired for its durability, high
                        performance, portability, unique design and budget-friendly prices. We have been supplying our
                        high-quality poultry products to several poultry farms.</p>
                    <p>Krishna Polyplast are very much conscious about their products quality. Before it reaches to the
                        actual user, each and every product are being tested and checked as per standard test method to
                        fulfil the exact requirement of end use or applications. The unit has enough testing facilities
                        which provides the basic requirement of the standard product properties. Every production batch
                        is being tested online as well as in testing lab. Prior to dispatch.</p>
                    <p>Finish products approved by the quality assurance people being properly packed, labled batch wise
                        and stored properly for dispatch. This ensures product reliability and consistent supply in the
                        market.</p>
                </div>
                <button style="color:white;font-weight:bolder; background-color: rgb(224, 30, 30); border:0.2px solid white; padding:8px 14px; margin: 18px 0px"><strong>About Us</strong></button>
            </div>
        </div>
        <div id="gallery" style="background-color: aliceblue; padding:80px 10px">
            <h3 style=" font-size:25px; text-align:center">Event Gallary</h3>
            <div style="display:flex;padding: 40px; justify-content:space-around; width:100%">
                <img src="{{ url_for('static', filename='images/gallery1.png') }}" alt="Image here" width=250px>
                <img src="{{ url_for('static', filename='images/gallery2.png') }}" alt="Image here" width=250px>
                <img src="{{ url_for('static', filename='images/gallery3.png') }}" alt="Image here" width=250px>
                <img src="{{ url_for('static', filename='images/gallery4.png') }}" alt="Image here" width=250px>
            </div>
        </div>
    </main>
    <footer>
        <div class="foot" style="display:flex; gap:70px">
            <div class="foot1">
                <div class="logo">
                    <img src="{{ url_for('static', filename='images/Kp1 icon.png') }}" alt="KP icon"
                        title="Krishna Polymers logo">
                    <div class="logotext">
                        <h2 style="color:rgb(226, 55, 55)">KRISHNA </h2>
                        <h3 style="color:rgb(184, 167, 167);font-style:oblique;">POLYPLAST</h3>
                    </div>
                </div>
                <p>Krishna Polyplast is one of the leading manufacturers of poultry equipment known for its quality and
                    standards. Feel free to contact us for the poultry equipments.</p>
                <p><b>Tel:</b> +91 2646-272413</p>
                <p><b>Mob. :</b> +91 98251 48413</p>
                <p><b>Email :</b> info@krishnapolyplast.net</p>
            </div>
            <div class=foot2>
                <div class="links-col">
                    <h4 style="font-size: 16px;">Quick Links</h4>
                    <a class="nav-link" href="#">Home</a>
                    <a class="nav-link" href="#about">About</a>
                    <a class="nav-link" href="#product">Products</a>
                    <a class="nav-link" href="#gallery">Gallery</a>
                    <a class="nav-link" href="javascript:void(0)" id="add-pop">Contact Us</a>
                </div>

                <div class="social-section">
                    <h5>Follow Us</h5>
                    <div class="social-icons">
                        <a class="social-icon" target=_blank
                            href="https://www.facebook.com/people/Krishna-Polyplast/100059912622065/#"
                            aria-label="Facebook">
                            <svg width="16" height="16" viewBox="0 0 24 24" fill="currentColor">
                                <path d="M18 2h-3a5 5 0 0 0-5 5v3H7v4h3v8h4v-8h3l1-4h-4V7a1 1 0 0 1 1-1h3z" /></svg>
                        </a>
                        <a class="social-icon" href="https://www.instagram.com/krishnapolyplastindia/" target=_blank
                            aria-label="Instagram">
                            <svg width="16" height="16" viewBox="0 0 24 24" fill="none" stroke="currentColor"
                                stroke-width="2" stroke-linecap="round" stroke-linejoin="round">
                                <rect x="2" y="2" width="20" height="20" rx="5" ry="5" />
                                <path d="M16 11.37A4 4 0 1 1 12.63 8 4 4 0 0 1 16 11.37z" />
                                <line x1="17.5" y1="6.5" x2="17.51" y2="6.5" /></svg>
                        </a>
                        <a class="social-icon" href="https://x.com/krishnapolyplas/" target=_blank aria-label="Twitter">
                            <svg width="16" height="16" viewBox="0 0 24 24" fill="currentColor">
                                <path
                                    d="M22 4s-.7 2.1-2 3.4c1.6 10-9.4 17.3-18 11.6 2.2.1 4.4-.6 6-2C3 15.5.5 9.6 3 5c2.2 2.6 5.6 4.1 9 4-.9-4.2 4-6.6 7-3.8 1.1 0 3-1.2 3-1.2z" />
                            </svg>
                        </a>
                        <a class="social-icon" href="https://www.linkedin.com/company/krishnapolyplast/" target=_blank
                            aria-label="LinkedIn">
                            <svg width="20" height="20" viewBox="0 0 24 24" fill="currentColor">
                                <path
                                    d="M16 8a6 6 0 0 1 6 6v7h-4v-7a2 2 0 0 0-2-2 2 2 0 0 0-2 2v7h-4v-7a6 6 0 0 1 6-6z" />
                                <rect x="2" y="9" width="4" height="12" />
                                <circle cx="4" cy="4" r="2" /></svg>
                        </a>
                        <a class="social-icon" target=_blank; href="https://in.pinterest.com/krishnapolyplast/"
                            aria-label="Pinterest">
                            <svg width="20" height="20" viewBox="0 0 24 24" fill="currentColor">
                                <path
                                    d="M12 2C6.48 2 2 6.48 2 12c0 4.24 2.65 7.86 6.39 9.29-.09-.78-.17-1.98.03-2.83.19-.78 1.27-5.38 1.27-5.38s-.32-.65-.32-1.61c0-1.51.88-2.64 1.97-2.64.93 0 1.38.7 1.38 1.54 0 .93-.6 2.33-.9 3.63-.26 1.08.53 1.96 1.59 1.96 1.9 0 3.18-2.43 3.18-5.3 0-2.19-1.48-3.83-4.15-3.83-3.02 0-4.9 2.26-4.9 4.78 0 .87.26 1.48.67 1.96.19.22.22.31.15.56-.05.18-.16.62-.2.79-.07.26-.28.35-.51.26-1.41-.57-2.07-2.12-2.07-3.85 0-2.86 2.41-6.29 7.17-6.29 3.83 0 6.35 2.77 6.35 5.75 0 3.94-2.18 6.88-5.39 6.88-1.08 0-2.09-.58-2.44-1.24l-.68 2.6c-.25.94-.9 2.12-1.34 2.83.98.3 2 .46 3.07.46 5.52 0 10-4.48 10-10S17.52 2 12 2z" />
                            </svg>
                        </a>
                    </div>
                </div>

            </div>
            <div class="products-col">
                <h4 style="font-size: 16px;">Products</h4>
                <a class="nav-link" href="#PVC Layer Feeder">All Products</a>
                <a class="nav-link" href="#PVC Layer Feeder">PVC Layer Feeder</a>
                <a class="nav-link" href="#PVC Grower Feeder">PVC Grower Feeder</a>
                <a class="nav-link" href="#chick feeder">PVC Chicks Feeder</a>
                <a class="nav-link" href="#Poultry Water Drinking System">Poultry Water Drinking System</a>
                <a class="nav-link" href="#chick feeder">Egg Trays PVC</a>
                <a class="nav-link" href="#chick feeder">PVC Door Panels</a>
                <a class="nav-link" href="#chick feeder">PVC Poultry Foot Rests</a>
                <a class="nav-link" href="#Poultry Accessories">Poultry Accessories</a>
            </div>
    </footer>
    <div class="footer-bottom">
        <span>Copyright &copy; 2025 <a href="#top">Krishna Polyplast</a>. All Rights Reserved.</span>
        <span>Website by <a href="https://www.ibrandcare.com/" target=_blank>YourAgency</a></span>
    </div>
    <div class="overlay"></div>
    <div class="pop">
        <button id="rem"
            style="border:none; background-color: rgb(201, 83, 83); color:white; padding-bottom:15px;  height:15px; width:30px; top:0.1vh; left:56.29vw; z-index:9; position:absolute ; border:1px solid black">X</button>
        <div class="contact">
            <h2 style="text-align: center;">Contact Us</h2>
            <form id="frm" action="/contact" method="POST">
                <input type="text" name="name" placeholder="Name" id="phone">
                <input type="text" name="email" placeholder="Email" id="mail">
                <input type="text" name="company" placeholder="Company name" id="cm-name">
                <textarea name="message" placeholder="Message" id="msg"></textarea>
                <button type="submit" style="color:black">Submit</button>
                <button type="button" id="close" style="color:black">Cancel</button>
            </form>
        </div>
        <div class="contact2">
            <h2 style="padding-top: 50px;">KRISHNA <span style="font-style:oblique;">POLYPLAST</span></h2><br>
            <h4 style="line-height:1.3">📍 Plot No. 227/3, Opp. Cheminova India Ltd., Phase-1, G.I.D.C., Panoli -
                394116, Dist.- Bharuch, Gujarat (India)</h4><br>
            <p>📞 +91 2646-272413 | +91 98251 48413</p><br>
            <p>✉️ Info@krishnapolyplast.net</p>
        </div>
    </div>
    <div id="success-msg">
        <h2>Message Sent </h2><br>
        <p>Thank you for contacting us.</p><br>
        <button onclick="closeMsg()">OK</button>
    </div>
    <script src="{{ url_for('static', filename='script.js') }}">      </script>

</body>

</html>
